@charset "UTF-8";

/*Mobile First*/

:root {
    color-scheme: light dark;

    /*Paleta de Sombras do Branco*/
    --branco01: #FFFFFF;
    --branco02: #F6F6F6;
    --branco03: #D4D4D4;
    --branco04: #B3B3B3;
    --branco05: #919191;
    --branco06: #6F6F6F;

    /*Paleta de Sombras do Preto*/
    --preto01: #000000;
    --preto02: #3C3C3C;
    --preto03: #5E5E5E;
    --preto04: #808080;
    --preto05: #A2A2A2;
    --preto06: #C3C3C3;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    background-color: light-dark(var(--branco03), var(--preto02));
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body {
    display: flex;
}

main {
    width: 405px;
    height: calc(100vh - 20%);
    margin: auto;
    border-radius: 25px;
    box-shadow: 1px 5px 15px 2px rgba(0, 0, 0, 0.349);
    overflow: hidden;
    background-color: light-dark(var(--branco01), var(--preto01));
}

.mostradorCalculadora {
    cursor: default;
    background-color: light-dark(var(--branco03), var(--preto03));
    margin: 10px;
    border-radius: 15px;
    height: 25%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

.resultadoConta h1 {
    padding: 20px;
    font-size: 1.3em;
    color: light-dark(var(--preto03), var(--branco04));
}

.contaAtual h1 {
    padding: 20px;
    font-size: 3.3em;
    font-weight: bolder;
    color: light-dark(var(--preto02), var(--preto01));
}

h1 {
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
}

.botõesCalculadora {
    height: 70%;
    padding: 10px;
}

#linha1 > article:nth-last-child(1) > h1 {
    display: flex;
    font-size: 1.8em;
    justify-content: center;
}

.botõesLinhas {
    display: flex;
    justify-content: space-between;
}

#linha1, #linha2, #linha3, #linha4 {
    margin-bottom: 10px;
}

.botõesLinhas article {
    border-radius: 10px;
    background-color: light-dark(var(--branco03), var(--preto03));
    padding: 25px;
    width: 40px;
    cursor: pointer;
    transition: background-color 500ms ease-in-out;
}

.botõesLinhas article > h1 {
    color: light-dark(var(--branco06), var(--preto01));
    font-weight: bolder;
    transition: color 500ms ease-in-out;
}

#linha1 article, .botõesLinhas article:nth-last-child(1), #linha5 article:nth-last-child(2) {
    background-color: light-dark(var(--branco05), var(--preto02));
    transition: background-color 500ms ease-in-out;
}

#linha1 article > h1, .botõesLinhas article:nth-last-child(1) > h1, #linha5 article:nth-last-child(2) > h1 {
    color: light-dark(var(--branco02), var(--preto05));
    transition: color 500ms ease-in-out;
}

.botõesLinhas article:hover {
    background-color: light-dark(var(--branco05), var(--preto02));
    transition: background-color 500ms ease-in-out;
}

.botõesLinhas article:hover > h1 {
    color: light-dark(var(--branco02), var(--preto05));
    transition: color 500ms ease-in-out;
}

#linha1 article:hover, .botõesLinhas article:nth-last-child(1):hover, #linha5 article:nth-last-child(2):hover {
    background-color: light-dark(var(--branco03), var(--preto03));
    transition: background-color 500ms ease-in-out;
}

#linha1 article:hover > h1, .botõesLinhas article:nth-last-child(1):hover > h1, #linha5 article:nth-last-child(2):hover > h1 {
    color: light-dark(var(--branco06), var(--preto01));
    transition: color 500ms ease-in-out;
}